{% if sectionColor is not defined %}{% set sectionColor = '' %}{% endif %}
{% if headerClass is not defined %}{% set headerClass = '' %}{% endif %}
{% if hasFAQ is not defined %}{% set hasFAQ = true %}{% endif %}

{% set title = 'default_title' | trans %}
{% set description = 'default_description' | trans %}
{% set ogImage = '/assets/meta/crowd-lobbying-og-image.jpg' | trans %}
{% set ogDescription = 'default_og_description' | trans %}

{% if campaign is defined %}
    {% set description = campaign.campaignDescription | trim %}
    {% set title = campaign.campaignTitle %}
    {% set ogImage = app.request.getUriForPath(vich_uploader_asset(campaign, 'ogImageFile' ~ (app.request.locale | capitalize))) %}
    {% set ogDescription = campaign.ogCampaignDescription %}
{% endif %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% block ogImage %}
        <meta property="og:image" content="{{ ogImage }}">
    {% endblock %}
    {% block ogTitle %}
        <meta property=og:title content="{{ title }}"/>
    {% endblock %}
    {% block ogDescription %}
        <meta property=og:description content="{{ ogDescription }}"/>
    {% endblock %}
    {% block ogUrl %}
        <meta property=og:url content="{{ app.request.schemeAndHttpHost }}"/>
    {% endblock %}
    <meta name=twitter:card content="summary_large_image" />
    <meta name=twitter:description content="{{ ogDescription }}"/>
    <meta name=twitter:title content="{{ title }}"/>
    <meta name=twitter:site content="@crowd_lobbying"/>
    <meta name=twitter:image content="{{ ogImage }}"/>
    <meta name=twitter:creator content="@crowd_lobbying"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" href="/favicon-16x16.png" type="image/png" size="16x16">
    <link rel="icon" href="/favicon-32x32.png" type="image/png" size="32x32">
    <link rel="icon" href="/favicon-96x96.png" type="image/png" size="96x96">
    <link rel="apple-touch-icon" href="/apple-icon.png">
    <link rel="apple-touch-icon" href="/apple-icon-precomposed.png">
    <link rel="apple-touch-icon" href="/apple-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/apple-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/apple-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/apple-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/apple-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/apple-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/apple-icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="/apple-icon.png" sizes="192x192">
    <meta name="msapplication-TitleColor" content="#ffffff">
    <meta name="msapplication-TitleImage" content="/ms-icon-144x144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600|Fira+Mono:500|Roboto+Slab:700">
    <link rel="stylesheet" href="{{ asset('app.css', 'app') }}">
</head>
<body class="t-campaign">
<div class="visually-hidden">
    <svg width="0" height="0" style="position:absolute">
        <symbol viewBox="0 0 900 400" id="spriteIcon-logo-crowd-lobbying-quer" xmlns="http://www.w3.org/2000/svg">
            <g data-name="Ebene 8">
                <path d="M75 160a36.5 36.5 0 0 0-73 0v44h73zm294.5-36.5A36.5 36.5 0 0 0 333 160v44h73v-44a36.5 36.5 0 0 0-36.5-36.5zm151.95 155.95a34.72 34.72 0 0 1-3 13 29.94 29.94 0 0 1-7.45 10.13 34.08 34.08 0 0 1-11.42 6.56 44.77 44.77 0 0 1-14.91 2.34 39.37 39.37 0 0 1-15.91-3.06 32.37 32.37 0 0 1-11.85-8.77 39 39 0 0 1-7.39-13.93 62.41 62.41 0 0 1-2.52-18.45v-4.93a59.58 59.58 0 0 1 2.66-18.46 40.16 40.16 0 0 1 7.57-13.95 33.3 33.3 0 0 1 11.82-8.84 37.24 37.24 0 0 1 15.39-3.09 44.11 44.11 0 0 1 15.36 2.47 32.81 32.81 0 0 1 11.33 6.83 31.45 31.45 0 0 1 7.27 10.37 41.28 41.28 0 0 1 3.24 13.05h-21.38a26.19 26.19 0 0 0-1-6.74 11.63 11.63 0 0 0-2.78-4.87 12.11 12.11 0 0 0-4.82-2.94 22.76 22.76 0 0 0-7.21-1 14.94 14.94 0 0 0-6.9 1.5 12.21 12.21 0 0 0-4.89 4.75 25.07 25.07 0 0 0-2.9 8.4 69.69 69.69 0 0 0-.95 12.39v5.06a76.29 76.29 0 0 0 .86 12.36 25.28 25.28 0 0 0 2.72 8.4 11.45 11.45 0 0 0 4.88 4.78 16.6 16.6 0 0 0 7.42 1.5q7.4 0 11.3-3.56t4.16-11.3zm43.18-1.32H553v32.1h-21.41v-90.92h35a50.46 50.46 0 0 1 13.92 1.78 30.5 30.5 0 0 1 10.63 5.25 23 23 0 0 1 6.75 8.58 28.16 28.16 0 0 1 2.35 11.87 35.71 35.71 0 0 1-1.1 9.33 24.34 24.34 0 0 1-3.14 7.18 23.32 23.32 0 0 1-4.92 5.37 33.69 33.69 0 0 1-6.35 4l18.57 36.65v.94h-23zM553 261.21h13.56q6.1 0 9.19-3.28t3.09-9.14q0-5.88-3.12-9.22t-9.16-3.34H553zm135.5 5.43a57.26 57.26 0 0 1-2.87 18.74 41.23 41.23 0 0 1-8 14.11 34.79 34.79 0 0 1-12.27 8.9 38.8 38.8 0 0 1-15.61 3.09 39.54 39.54 0 0 1-15.79-3.09 34.65 34.65 0 0 1-12.33-8.9 41.21 41.21 0 0 1-8-14.11 57 57 0 0 1-2.87-18.74V263a57.48 57.48 0 0 1 2.84-18.73 40.88 40.88 0 0 1 8-14.12 35.17 35.17 0 0 1 12.3-8.93 41.06 41.06 0 0 1 31.4 0 35.17 35.17 0 0 1 12.3 8.93 41.83 41.83 0 0 1 8.07 14.12A56.65 56.65 0 0 1 688.5 263zm-21.81-3.8q0-13.56-4.43-20.58a14.13 14.13 0 0 0-12.67-7q-8.61 0-12.86 7t-4.24 20.58v3.8q0 13.37 4.34 20.55a14.9 14.9 0 0 0 25.47 0q4.4-7.16 4.39-20.58zm101.76 13.48l10.2-57h21.25L781 310.23h-22.2l-11.91-51.83-11.67 51.83h-22.17l-18.93-90.92h21.31l10.2 57 12.22-57h18.2zm39.82 33.91v-90.92h28.64a42.34 42.34 0 0 1 16.62 3.19 38 38 0 0 1 13 9 41.18 41.18 0 0 1 8.52 13.8 49.35 49.35 0 0 1 3 17.64v3.81a49.28 49.28 0 0 1-3 17.67 40.91 40.91 0 0 1-8.52 13.74 38.51 38.51 0 0 1-13 8.93 41.74 41.74 0 0 1-16.43 3.18zm21.44-74v57.14h7.45q9.23 0 14.17-6.71t4.95-20v-3.94q0-13.17-4.95-19.85t-14.42-6.69zM465.24 385.86h27.21v12.29h-42.84v-66.29h15.63zm85.87-19.49A41.55 41.55 0 0 1 549 380a29.89 29.89 0 0 1-5.85 10.29 25.45 25.45 0 0 1-8.95 6.49 28.33 28.33 0 0 1-11.38 2.25 28.79 28.79 0 0 1-11.51-2.25 25.27 25.27 0 0 1-9-6.49 30.07 30.07 0 0 1-5.85-10.29 41.82 41.82 0 0 1-2.09-13.66v-2.68a42.06 42.06 0 0 1 2.07-13.66 29.85 29.85 0 0 1 5.83-10.29 25.49 25.49 0 0 1 9-6.52 30 30 0 0 1 22.89 0 25.54 25.54 0 0 1 9 6.52A30.27 30.27 0 0 1 549 350a41.23 41.23 0 0 1 2.12 13.66zm-15.9-2.78q0-9.87-3.23-15a11 11 0 0 0-18.62 0q-3.09 5.13-3.09 15v2.78q0 9.75 3.16 15a10.3 10.3 0 0 0 9.4 5.24 10.17 10.17 0 0 0 9.17-5.22q3.21-5.21 3.21-15zm23.96 34.56v-66.29h23.29a47.46 47.46 0 0 1 10.76 1.14 23.46 23.46 0 0 1 8 3.4 15.16 15.16 0 0 1 5 5.71 17.82 17.82 0 0 1 1.73 8.08 19.33 19.33 0 0 1-.49 4.4 13.86 13.86 0 0 1-1.58 4 13.17 13.17 0 0 1-2.82 3.35 14.37 14.37 0 0 1-4.24 2.43 14.77 14.77 0 0 1 4.9 2.23 13 13 0 0 1 3.25 3.37 13.66 13.66 0 0 1 1.81 4.12 18.4 18.4 0 0 1 .55 4.49q0 9.84-6.14 14.73T585 398.15zm15.63-38.65h8.2c3.41 0 5.85-.67 7.3-1.92a6.83 6.83 0 0 0 2.19-5.51q0-4.19-2.36-6t-7.62-1.84h-7.71zm0 10.47v15.89H585a12.2 12.2 0 0 0 4-.59 7.27 7.27 0 0 0 2.72-1.62 6.27 6.27 0 0 0 1.54-2.39 8.88 8.88 0 0 0 .49-3 12.39 12.39 0 0 0-.45-3.46 6.13 6.13 0 0 0-4-4.28 10.81 10.81 0 0 0-3.79-.59zm43.2 28.18v-66.29h23.29a47.46 47.46 0 0 1 10.76 1.14 23.6 23.6 0 0 1 8 3.4 15.22 15.22 0 0 1 5 5.71 17.69 17.69 0 0 1 1.73 8.08 19.91 19.91 0 0 1-.48 4.4 14.17 14.17 0 0 1-1.59 4 13 13 0 0 1-2.82 3.35 14.44 14.44 0 0 1-4.23 2.43 14.8 14.8 0 0 1 4.89 2.23 13 13 0 0 1 3.25 3.37 13.42 13.42 0 0 1 1.81 4.12 18.41 18.41 0 0 1 .56 4.49q0 9.84-6.15 14.73t-18.22 4.89zm15.63-38.65h8.15c3.41 0 5.85-.67 7.3-1.92a6.83 6.83 0 0 0 2.19-5.51q0-4.19-2.36-6t-7.62-1.84h-7.66zm0 10.47v15.89h10.24a12.2 12.2 0 0 0 4-.59 7.27 7.27 0 0 0 2.72-1.62 6.27 6.27 0 0 0 1.54-2.39 8.88 8.88 0 0 0 .49-3 12.39 12.39 0 0 0-.45-3.46 6.46 6.46 0 0 0-1.42-2.62 6.65 6.65 0 0 0-2.54-1.66 10.81 10.81 0 0 0-3.79-.59zm64.49-9.34l11.93-28.77h16.88L706 374.34v23.81h-15.81v-23.81l-20.84-42.48h16.79zm50.19 37.52h-15.59v-66.29h15.59zm65.02 0h-15.54l-23-41.25v41.25h-15.61v-66.29h15.63l22.93 41.25v-41.25h15.59zM876.3 390a20.86 20.86 0 0 1-3.47 3 28.52 28.52 0 0 1-5.43 3 40.76 40.76 0 0 1-7.42 2.26 46.2 46.2 0 0 1-9.46.88 30.84 30.84 0 0 1-11.76-2.14 24.57 24.57 0 0 1-9-6.23A28.22 28.22 0 0 1 824 380.6a42.79 42.79 0 0 1-2-13.73v-3.69a42.43 42.43 0 0 1 2-13.75 29.11 29.11 0 0 1 5.72-10.13 24.32 24.32 0 0 1 8.75-6.26 28.54 28.54 0 0 1 11.14-2.14 35.64 35.64 0 0 1 11.53 1.66 22.17 22.17 0 0 1 8 4.67 20.07 20.07 0 0 1 4.9 7.15 32.77 32.77 0 0 1 2.18 9.11h-15a20.61 20.61 0 0 0-1.1-4.38 9.28 9.28 0 0 0-2-3.23 8.42 8.42 0 0 0-3.26-2 13.91 13.91 0 0 0-4.65-.68 10.73 10.73 0 0 0-5.1 1.22 10.53 10.53 0 0 0-3.89 3.72 19.5 19.5 0 0 0-2.48 6.21 38.89 38.89 0 0 0-.87 8.74v3.78q0 9.93 3.32 14.92t10.45 5a19.77 19.77 0 0 0 3.34-.25 15.1 15.1 0 0 0 2.58-.66 9.8 9.8 0 0 0 1.89-.91 8.53 8.53 0 0 0 1.27-1V373.7H849.8v-11h26.5z"/>
                <path d="M290 219v-90a86 86 0 0 0-72-84.35V4h-28v40.65A86 86 0 0 0 118 129v90H2v180h7.59c2.23-35.8 48.87-30.6 55.79-49.2a162.52 162.52 0 0 0 .36-16.64c-2.89-1.51-8.27-11.16-9.14-19.31-2.26-.19-5.84-2.4-6.89-11.14-.56-4.69 1.69-7.33 3-8.16-7.67-29.52-3.45-55.3 31.54-55.94 8.75 0 15.48 2.33 18.1 6.95 25.54 3.55 17.87 37.89 14.18 49 1.37.83 3.62 3.47 3 8.16-1 8.74-4.62 11-6.89 11.14-.88 8.15-6 17.8-8.93 19.31a162.52 162.52 0 0 0 .36 16.64c2 5.45 7.44 8.85 14.15 11.85-10 7.94-17.77 19.27-18.83 36.79v.55h10.87c1-16.28 9.3-25.84 19.89-32.5.54-.34 1.09-.68 1.65-1l.34-.2c.47-.28.94-.54 1.42-.81l.32-.17a75.2 75.2 0 0 1 3.57-1.85l.14-.07 1.66-.8.29-.13 1.68-.76.13-.06c1.27-.57 2.54-1.11 3.82-1.65l1.92-.79c3.56-1.44 7.09-2.79 10.48-4.16l.62-.25.83-.35.84-.35.77-.32.93-.4.67-.29 1.48-.66.46-.22 1.08-.5.56-.28 1-.48.53-.27c.39-.2.77-.4 1.14-.61l.29-.15 1.34-.78.4-.24.92-.58.57-.32c.29-.2.59-.4.87-.61.13-.08.25-.17.37-.26.4-.29.79-.58 1.16-.88l.15-.13c.32-.26.64-.53.94-.8l.34-.31c.24-.22.47-.45.7-.68l.32-.33c.25-.26.5-.53.73-.81a2 2 0 0 0 .19-.22c.3-.35.57-.7.83-1.07l.19-.27c.19-.29.38-.57.56-.86l.22-.38c.16-.28.31-.56.46-.85l.18-.37c.19-.4.37-.82.53-1.25.2-2.22.32-3.78.4-5v-.08c0-.4 0-.77.06-1.13-3.29-.35-6.42-.77-9.36-1.26l-1.74-.3c-1.15-.2-2.27-.42-3.35-.64l-1.6-.34c-12.07-2.66-19.67-6.49-19.72-10.75 3-3.17 4.46-8.7 5.24-15.69.29-2.55.48-5.29.62-8.18.07-1.44.13-2.93.18-4.45.2-6.06.27-12.66.52-19.46.07-1.69.14-3.4.23-5.12a168.89 168.89 0 0 1 2.21-20.6q.22-1.27.48-2.52c2.54-12.55 7.25-24.16 16.2-32.62.6-.57 1.22-1.12 1.85-1.65a44.55 44.55 0 0 1 4.05-3c.71-.47 1.45-.93 2.21-1.37a48.29 48.29 0 0 1 7.41-3.51 57.83 57.83 0 0 1 5.62-1.79 72.66 72.66 0 0 1 13-2.12c.56 0 1.07 0 1.6.06a39.78 39.78 0 0 1 5 .49 25.43 25.43 0 0 1 11.64 4.83l.35.27h3.34l1.24.07 1.17.11c.39 0 .78.08 1.16.14s.75.11 1.12.18l1.1.2 1.07.25 1 .28c.35.09.69.2 1 .31l1 .34c.33.12.65.25 1 .39s.61.25.91.39l.94.46.84.44c.31.17.6.35.9.53l.78.5c.29.19.57.39.85.59l.73.54.82.66.67.58.77.73c.21.21.42.41.62.62s.49.53.74.8l.56.65c.24.28.47.57.7.87l.51.67c.23.31.45.62.67.94s.31.46.46.7.43.66.64 1 .28.47.41.71.41.71.6 1.08l.38.72c.19.38.38.76.56 1.15l.34.73c.18.4.35.81.53 1.22.1.24.19.49.29.73.17.43.34.86.5 1.3l.26.72c.16.46.32.91.47 1.37.07.24.15.48.22.72.15.47.3.95.44 1.44l.19.7c.14.5.28 1 .41 1.52 0 .23.11.45.16.68.13.53.26 1.06.38 1.59 0 .22.09.44.14.67.12.55.23 1.1.34 1.66l.12.63c.11.57.21 1.16.31 1.74 0 .2.07.4.1.59.1.61.19 1.21.28 1.82 0 .19.06.37.08.56.09.63.18 1.26.26 1.9l.06.5c.08.66.16 1.32.23 2 0 .15 0 .3.05.45.07.69.14 1.38.2 2.07v.38l.18 2.17v.29c.05.75.11 1.51.15 2.27v.2c0 .8.09 1.59.13 2.39v.08c.63 12.59.26 25.56.47 36.58 0 .68 0 1.34.05 2v.26c0 .6 0 1.18.06 1.76v.44c0 .53 0 1.05.07 1.57v.54c0 .49.05 1 .08 1.44v.6c0 .44.06.87.1 1.3 0 .23 0 .45.05.68 0 .4.07.78.11 1.17 0 .24 0 .48.07.71s.08.74.13 1.11.05.46.08.69l.15 1c0 .23.07.46.1.68s.12.64.17 1 .08.45.13.67.12.58.18.87l.15.66.21.8c.06.21.11.42.17.62s.16.5.24.74.12.4.19.59.18.46.27.68l.21.54c.1.22.21.43.31.64s.15.32.23.46.24.41.36.61l.24.38c.14.21.29.4.44.59s.14.19.22.28a8.56 8.56 0 0 0 .72.75v.09a.49.49 0 0 0 0 .24c0 5.53-12.7 10.34-31.43 12.82-1 .13-1.94.25-2.93.36l-.9.1-1.58.17c.06 1.79.13 3.53.21 4.89 0 .45.06.87.09 1.22.15.41.33.81.51 1.21l.19.38c.14.27.28.54.43.8s.15.27.23.41.33.51.5.77.15.23.24.35c.24.34.49.67.76 1v.05c.28.34.58.68.89 1l.3.32.68.66.36.34.72.63.36.29c.33.27.67.54 1 .8l.1.08c.39.29.78.56 1.19.84l.41.27c.28.19.57.37.86.55l.48.3.87.51.47.27 1.17.64.21.11c.46.25.92.48 1.4.72l.55.27.93.45.62.29.92.42.62.28 1.1.48.74.32 1.21.51.83.34.76.31.95.39.56.22c3.85 1.54 7.87 3.08 11.87 4.77l.1.05 1.66.71.32.14 1.5.67.31.14q1.79.81 3.54 1.68l.25.13 1.44.74.42.22 1.31.71.39.22 1.6.93c11.21 6.7 20.14 16.37 21.19 33.35h10.89v-.56c-1.1-18.25-9.45-29.79-20-37.78 5.73-2.76 10.26-6 12.07-10.86.22-2.37.32-3.79.36-4.94-16.67-1.8-28.31-5.84-28.36-10.54 13.77-14.66-12.95-92.28 47.48-96.85 7 0 11.93 2.1 14.74 4.47 44.61-1.67 20.64 80.54 33.48 92.11v.27c0 4.8-12 8.92-29.21 10.68.06 1.89.13 3.71.23 4.84 6.92 18.6 53.36 13.4 55.59 49.2h9V219z"/>
            </g>
        </symbol>
    </svg>
</div>
{% block header %}
    {% if campaign.archived %}
        <section class="campaign-info campaign-info--archived">
            <div class="viewport-width">
                <div class="page-width">
                    <div class="layout-width">
                        <div class="campaign-info__content"><p class="lead">{% trans %}Diese Kampagne ist archiviert.{% endtrans %}</p></div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <header class="header {{ headerClass }}" id="header">
        <h1 class="header__logotype"><a class="header__home-link" href="/">
                <svg class="logotype">
                    <use xlink:href="#spriteIcon-logo-crowd-lobbying-quer"></use>
                </svg>
                <span class="visually-hidden">{% if campaign is defined and campaign.heroSubline | length > 0 %}{{ campaign.heroSubline }}{% else %}{% trans %}Crowd-Lobbying{% endtrans %}{% endif %}</span></a></h1>
        <button class="hamburger hamburger--spin" id="hamburger" type="button" onclick="app.menu.toggle()"><span
                    class="hamburger-box"><span class="hamburger-inner"></span></span></button>
    </header>
{% endblock %}
{% block body %}{% endblock %}
{% if hasFAQ %}
    <section class="faq {{ sectionColor }}">
        <div class="viewport-width vertical-space">
            <div class="page-width">
                <div class="layout-width">
                    <div class="richtext readable-width">
                        {% if campaign is defined %}
                            <h1>{{ campaign.faqTitle }}</h1>
                            {{ campaign.faqText | raw }}
                        {% else %}
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        {% for campaign in campaigns %}
                                            <li><a href="https://{{ campaign.slug }}.{{ app.request.host }}/">{{ campaign }}</a></li>
                                        {% else %}
                                            <li>Keine Kampagnen gefunden... #sadTimes</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<section class="scroll-to-top {{ sectionColor }}">
    <div class="viewport-width">
        <div class="page-width">
            <div class="layout-width scroll-to-top__inner">
                <button class="action-button outline icon icon--up"
                        onclick="utils.scrollTo('body')">{% trans %}Nach oben{% endtrans %}
                </button>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="viewport-width grey vertical-space">
        <div class="page-width">
            <div class="layout-width">
                <section class="cols footer__section footer__about">
                    <div class="col col-6"><h2 class="no-space">{% trans %}Über uns{% endtrans %}</h2>
                        <p>
                            {% trans %}Crowd-Lobbying ist eine unabhängige Schweizer Kampagnenplattform. Wir ermöglichen Menschen, Nachrichten an das Parlament zu schicken, die ihnen am Herzen liegen. Gemeinsam setzen wir uns ein für eine Schweiz, in der wir leben wollen. Die Plattform ist ein Community-Projekt und wurde an den Campaign Hackdays 2019 entwickelt.{% endtrans %}
                        </p>
                    </div>
                    <div class="col col-3"><h2 class="no-space" id="media-contact">{% trans %}Medienkontakt{% endtrans %}</h2>
                        {% trans %}<p>Che Wagner<br>Tel. +41 76 230 75 29<br><a href="mailto:che.wagner@publicbeta.ch">che.wagner@publicbeta.ch</a></p>{% endtrans %}
                    </div>
                    <div class="col col-3"><h2 class="no-space">{% trans %}Impressum{% endtrans %}</h2>
                        {% trans %}<p>Daniel Graf<br>Dammerkirchstr. 44<br>CH-4056 Basel</p>{% endtrans %}
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="viewport-width grey-darker vertical-space">
        <div class="page-width">
            <div class="layout-width">
                <section class="footer__section footer__terms-of-use" id="terms-of-use">
                    <h2>{% trans %}Nutzungsbedingungen{% endtrans %}</h2>
                    {% trans %}NutzungsbedingungenText{% endtrans %}</section>
                <section class="footer__section footer__privacy" id="privacy">
                    <h2>{% trans %}Datenschutz{% endtrans %}</h2>
                    {% trans %}DatenschutzText{% endtrans %}
                    <hr>
                    <p class="no-space">
                        © {{ 'now' | date('Y') }} <a href="https://www.publicbeta.ch/">{% trans %}Verein Public Beta, Basel{% endtrans %}</a>
                    </p>
                </section>
            </div>
        </div>
    </div>
</footer>
<nav class="menu" id="menu">
    <div class="viewport-width">
        <div class="page-width">
            <div class="layout-width">
                <ul class="menu__items">
                    <li class="menu__item"><a class="menu__link" onclick="app.menu.hide()" href="{% if campaign is defined %}{{ path('app_campaign_index', {'campaign': campaign.slug}) }}{% else %}{{ path('default_index') }}{% endif %}">{% trans %}Startseite{% endtrans %}</a></li>
                    <li class="menu__item"><a class="menu__link" onclick="app.menu.hide(); utils.scrollTo('.how-it-works', { offset: document.querySelector('.header').offsetHeight * -1 })">{% trans %}Mitmachen{% endtrans %}</a></li>
                    <li class="menu__item"><a class="menu__link" onclick="app.menu.hide(); utils.scrollTo('#donate', { offset: document.querySelector('.header').offsetHeight * -1 })">{% trans %}Spenden{% endtrans %}</a></li>
                    <li class="menu__item"><a class="menu__link" onclick="app.menu.hide(); utils.scrollTo('.how-it-works', { offset: document.querySelector('.header').offsetHeight * -1 })">{% trans %}Politikerinnen und Politiker{% endtrans %}</a></li>
                    <li class="menu__item"><a class="menu__link" onclick="app.menu.hide()" href="{% if campaign is defined %}{{ path('app_campaign_statements', {'campaign': campaign.slug}) }}{% else %}{{ path('default_index') }}{% endif %}">{% trans %}Nachrichten-Feed{% endtrans %}</a></li>
                    <li class="menu__item"><a class="menu__link" onclick="app.menu.hide(); utils.scrollTo('#media-contact', { offset: document.querySelector('.header').offsetHeight * -1 })">{% trans %}Medienkontakt{% endtrans %}</a></li>
                    <li class="menu__item"><a class="menu__link" onclick="app.menu.hide(); utils.scrollTo('#privacy', { offset: document.querySelector('.header').offsetHeight * -1 })">{% trans %}Datenschutz{% endtrans %}</a></li>
                </ul>
                <br />
                {% if campaign is defined %}
                    {% set hrefDE = path('app_campaign_index', { campaign: campaign.slug, _locale: 'de' }) %}
                    {% set hrefFR = path('app_campaign_index', { campaign: campaign.slug, _locale: 'fr' }) %}
                {% else %}
                    {% set hrefDE = path('default_index') %}
                    {% set hrefFR = path('default_index') %}
                {% endif %}

                <a href="{{ hrefDE }}" title="Deutsch">DE</a> / <a href="{{ hrefFR }}" title="Français">FR</a>
            </div>
        </div>
    </div>
</nav>
<script async src="{{ asset('app.js', 'app') }}"></script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139693155-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function reloadWithRegion(value) {
        window.location.href = '/{{ app.request.locale }}/' + value + '#how-it-works';
    }

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-139693155-2');</script>
    <!-- crowd-lobbying-frontend v.1.0.0-alpha.16 -->
</body>
</html>
