<br/>
Hallo {{ person.firstname }} {{ person.lastname }}
<br/>
<br/>
Vielen Dank für Ihre Unterstützung! Gemeinsam werden wir den Ständerat überzeugen, dass wir den digitalen Pass nicht im Swisscom-Shop oder in einer UBS-Filiale beziehen wollen.
<br/>
<br/>
{{ politician.contact }} wir in den nächsten Tagen Ihre Nachricht erhalten.
<br/>
<br/>
Wir sammeln die Nachrichten, erstellen ein Lobby-Dossier und kontaktieren die ParlamentarierInnen über den geeigneten Kanal (SMS, E-Mail, Post oder Fax).
<br/>
<br/>
Gerne halten wir Sie auf dem Laufenden.
<br/>
<br/>
Freundlichen Grüsse, Che Wagner
<br/>
<br/>
<a href="www.crowd-lobbying.ch/#donate">
    PS: Um den Ausverkauf des digitalen Passes zu verhindern, sind wir auf Spenden angewiesen. Vielen Dank!
</a>
<br/>
<br/>
PublicBeta<br/>
Crowd-Lobbying<br/>
Projektkoordinator<br/>
+41 76 230 75 29<br/>
che.wagner@publicbeta.ch

<hr/>

<br/>

Bonjour {{ person.firstname }} {{ person.lastname }}
<br/>
<br/>
Merci beaucoup pour votre soutien! <br/>
Ensemble nous réussirons à convaincre le Conseil des Etats que nous ne voulons pas aller retirer notre passeport numérique auprès d’un Swisscom Shop ou d’une succursale UBS.
<br/>
<br/>
{{ politician.contact }} recevra votre message dans les prochains jours.
Nous recueillons les messages, créons un dossier-lobby et contactons les parlementaires par divers canaux (SMS, e-mail, poste ou fax).
<br/>
<br/>
Nous vous tenons volontiers au courant.
<br/>
<br/>
Cordialement, Che Wagner
<br/>
<br/>
<a href="www.crowd-lobbying.ch/#donate">
    P.-S.: Pour éviter le bradage du passeport numérique, nous avons besoin de votre soutien. Merci beaucoup !
</a>
<br/>
<br/>
PublicBeta<br/>
Crowd-Lobbying<br/>
Coordinateur de projet<br/>
+41 76 230 75 29<br/>
che.wagner@publicbeta.ch
