Hallo {{ person.firstname }} {{ person.lastname }}<br/>
<br/>
Vielen Dank für Ihre Unterstützung! <strong>Bitte bestätigen Sie Ihre Nachricht. </strong><br/>
An: {{ politician.name }} ({{ politician.party.short }}/{{ politician.region.short }}) <br/>
Von: {{ person.firstname }} {{ person.lastname }}<br />
Betreff: {{ campaign.name }}<br />
<strong>&laquo;{{ argument.argument }}</strong><br/>
<br/>
<a href="{{ urlConfirmation }}">Nachricht bestätigen</a>
<br/>
<br/>
<strong>Spenden für {{ campaign.name }}</strong><br />
Für diese Kampagne sind wir auf Spenden angewiesen. Bitte unterstützen Sie uns.<br />
<br />
<a href="{{ urlDonate }}">Spenden</a>
<br />
<br />
Mit den gesammelten Nachrichten erstellen wir ein Lobby-Dossier und kontaktieren die Parlamentarier*innen über den geeigneten Kanal (SMS, E-Mail, Post oder Fax).
<br/>
<br/>
Gerne halten wir Sie über den Fortschritt der Crowd-Lobbying-Kampagne auf dem Laufenden.
<br/>
<br/>
Freundlichen Grüsse<br />
 Che Wagner von Crowd-Lobbying <br />
- -<br />
Crowd-Lobbying <br />
c/o PublicBeta <br />
Gerbergasse 30<br />
 4001 Basel<br />
<a href="mailto: crowd-lobbying@publicbeta.ch"> crowd-lobbying@publicbeta.ch</a><br />
<br />
<hr/>
<br/>
Bonjour {{ person.firstname }} {{ person.lastname }}<br/>
<br/>
Vielen Dank für Ihre Unterstützung! <strong>Bitte bestätigen Sie Ihre Nachricht. </strong><br/>
An: {{ politician.name }} ({{ politician.party.short }}/{{ politician.region.short }}) <br/>
Von: {{ person.firstname }} {{ person.lastname }}<br />
Betreff: {{ campaign.name }}<br />
<strong>&laquo;{{ argument.argument }}</strong><br/>
<br/>
<a href="{{ urlConfirmation }}">Nachricht bestätigen</a>
<br/>
<br/>
<strong>Spenden für {{ campaign.name }}</strong><br />
Für diese Kampagne sind wir auf Spenden angewiesen. Bitte unterstützen Sie uns.<br />
<br />
<a href="{{ urlDonate }}">Spenden</a>
<br />
<br />
Mit den gesammelten Nachrichten erstellen wir ein Lobby-Dossier und kontaktieren die Parlamentarier*innen über den geeigneten Kanal (SMS, E-Mail, Post oder Fax).
<br/>
<br/>
Gerne halten wir Sie über den Fortschritt der Crowd-Lobbying-Kampagne auf dem Laufenden.
<br/>
<br/>
Freundlichen Grüsse<br />
Che Wagner von Crowd-Lobbying <br />
- -<br />
Crowd-Lobbying <br />
c/o PublicBeta <br />
Gerbergasse 30<br />
4001 Basel<br />
<a href="mailto: crowd-lobbying@publicbeta.ch"> crowd-lobbying@publicbeta.ch</a><br />
<br />
<hr/>
<br/>
