(Version française ci-dessous)<br/>
<br/>

Hallo {{ person.firstname }} {{ person.lastname }}<br/>
<br/>
Vielen Dank für Ihre Unterstützung! <strong>Bitte bestätigen Sie Ihre Nachricht.</strong><br/>
An: {{ politician.name }} {{ politician.lastName }} ({{ politician.party.short }}/{{ politician.region.short }}) <br/>
Von: {{ person.firstname }} {{ person.lastname }}<br />
Betreff: {{ campaign.name }}<br />
<strong>&laquo;{{ argumentDe.argument }}</strong><br/>
<br/>
<strong><a href="{{ urlConfirmation }}">Nachricht bestätigen</a></strong>
<br/>
<br/>
Freundlichen Grüsse<br />
Che Wagner von Crowd-Lobbying<br />
- -<br />
Crowd-Lobbying<br />
c/o PublicBeta<br />
Gerbergasse 30<br />
4001 Basel<br />
<a href="mailto:team@crowdlobbying.ch">team@crowdlobbying.ch</a><br />
<br />
<hr/>
<br/>
* * * * * * * * * * * * * * * * * * * * * * * * *
<br/>
<br/>
Bonjour {{ person.firstname }} {{ person.lastname }}<br/>
<br/>
Merci beaucoup de votre soutien! <strong>Veuillez confirmer votre message.</strong><br/>
À l'att. de: {{ politician.name }} {{ politician.lastName }} ({{ politician.party.short }}/{{ politician.region.short }}) <br/>
De la part de: {{ person.firstname }} {{ person.lastname }}<br />
Objet: {{ campaign.name }}<br />
<strong>&laquo;{{ argumentFr.argument }}</strong><br/>
<br/>
<a href="{{ urlConfirmation }}">Confirmer message</a>
<br/>
<br/>
Avec mes meilleures salutations<br />
Che Wagner de Crowd-Lobbying<br />
- -<br />
Crowd-Lobbying<br />
c/o PublicBeta<br />
Gerbergasse 30<br />
4001 Basel<br />
<a href="mailto:team@crowdlobbying.ch">team@crowdlobbying.ch</a><br />
<br />
<hr/>
<br/>
