{% extends 'base.html.twig' %}

{% block body %}
{% set heroImage = vich_uploader_asset(campaign, 'heroBackgroundFile') %}
<section class="hero" {% if heroImage %} style="background-image: url('{{ heroImage }}')" {% endif %}>
    <div class="hero__inner">
        <div class="viewport-width">
            <div class="page-width">
                <div class="layout-width">
                    <div class="hero__content"><h2>{% if campaign is defined and campaign.heroSubline | length > 0 %}{{ campaign.heroSubline }}{% else %}{% trans %}Crowd-Lobbying{% endtrans %}{% endif %}</h2>
                        <h1>{{ campaign.hero }}</h1>
                        <p>{{ total }} {{ campaign.total }}</p>
                        <button class="action-button medium" onclick="utils.scrollTo('.how-it-works', { offset: document.querySelector('.header').offsetHeight * -1 })">
                            {% trans %}Mitmachen{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if latestEntries|length %}
    <section class="messages-carousel">
        <div class="messages-carousel__cards">
            {% for entry in latestEntries %}
                <div class="messages-carousel__slide">
                    <blockquote class="card pink" style="background-color: {{ entry|color }};">
                        <header class="card__header">
                            <cite class="card__meta">
                                <span class="card__meta-line">{% trans %}An:{% endtrans %} <strong>{{ entry.politician }}</strong> ({{ entry.politician.party.short }}/{{ entry.politician.region.short }})</span>
                                <span class="card__meta-line">{% trans %}Von:{% endtrans %} {{ entry.person }}, {{ entry.person.city }}</span>
                                <span class="card__meta-line">{% trans %}Betreff:{% endtrans %} {{ entry.campaign }}</span>
                            </cite>
                        </header>
                        <p class="card__quote">
                            {% if entry.argument %}
                                {% trans %}«{% endtrans %}{{ entry.argument }}{% trans %}»{% endtrans %}
                            {% endif %}
                            {% if entry.personArgument %}
                                {% trans %}«{% endtrans %}{{ entry.personArgument }}{% trans %}»{% endtrans %}
                            {% endif %}
                        </p>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
<section class="campaign-info">
    <div class="viewport-width">
        <div class="page-width">
            <div class="layout-width">
                <div class="campaign-info__content"><p class="lead">{{ campaign.campaignInfoLead }}</p>
                    {{ campaign.campaignInfo | raw }}
                    <p>
                        <a onclick="utils.scrollTo('.faq', { offset: document.querySelector('.header').offsetHeight * -1 })">{% trans %}Mehr erfahren{% endtrans %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works" id="how-it-works">
    <div class="viewport-width">
        <div class="page-width">
            <div class="layout-width"><h1 class="how-it-works__title">{% trans %}So einfach geht Crowd-Lobbying:{% endtrans %}</h1>
                <ol class="how-it-works__steps">
                    <li class="how-it-works__step"><span class="how-it-works__ordinal">1.</span>{{ campaign.howItWorksStep1 }}</li>
                    <li class="how-it-works__step"><span class="how-it-works__ordinal">2.</span>{{ campaign.howItWorksStep2 }}</li>
                    <li class="how-it-works__step"><span class="how-it-works__ordinal">3.</span>{{ campaign.howItWorksStep3 }}</li>
                </ol>
                <div class="how-it-works__richtext"><p>{{ campaign.howItWorksFinish }}</p></div>
            </div>
        </div>
    </div>
</section>
<section class="officials">
    <div class="viewport-width">
        <div class="page-width">
            <div class="layout-width">
                {% if 0 == campaign.commissions | length %}
                    <div class="officials__canton-chooser">
                        <div class="mdc-select mdc-select--outlined officials__select"><i class="mdc-select__dropdown-icon"></i>
                            <select class="mdc-select__native-control" onchange="reloadWithRegion(this.value)">
                                <option value disabled="disabled"{{ not (region is defined) or not region ? ' selected="selected"' }}></option>

                                {% for dbRegion in campaign.regions %}
                                    <option value="{{ dbRegion.id }}"{{ region is defined and region and region.id == dbRegion.id ? ' selected="selected"' }}>{{ dbRegion }}</option>
                                {% endfor %}
                            </select>
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label">
                                        {% trans %}Kanton wählen{% endtrans %}
                                    </label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="officials__list">
                    {% for politician in politicians %}
                        <section class="official officials__card" data-region="{{ politician.region.id }}">
                            <div class="official__portrait" style="background-image: url({% if politician.image | length %}'{{ vich_uploader_asset(politician) }}'{% else %}'/assets/officials/{{ politician.name }} {{ politician.lastname }}.jpg'{% endif %})">
                                {% set voteCount = campaign.entryCountByPolitician(politician) %}
                                <div class="badge official__badge">{{ voteCount > 999 ? '999+' : voteCount }}</div>
                            </div>
                            {% set wipCount = 0 %}
                            {% if campaign.wipCountByPolitician(politician) %}
                                {% set wipCount = campaign.wipCountByPolitician(politician).status %}
                            {% endif %}
                            <div class="official__footer">
                                <span class="official__name">
                                    <strong>{{ politician }}</strong> <br />
                                    ({{ politician.party.short }}/{{ politician.region.short }})
                                </span>
                                <span class="official__state {% if wipCount == constant('App\\Entity\\WipCount::WIP_COUNT_TYPE_YES') %}with-us{% elseif wipCount == constant('App\\Entity\\WipCount::WIP_COUNT_TYPE_NO') %}against-us{% else %}unknown{% endif %}" title="{% if wipCount == constant('App\\Entity\\WipCount::WIP_COUNT_TYPE_YES') %}{% trans %}mit uns{% endtrans %}{% elseif wipCount == constant('App\\Entity\\WipCount::WIP_COUNT_TYPE_NO') %}{% trans %}gegen uns{% endtrans %}{% else %}{% trans %}unbekannt{% endtrans %}{% endif %}">
                                    {% trans %}Stimmabsicht{% endtrans %}
                                </span>
                                <a href="{{ path('app_campaign_lobby', {'campaign': campaign.slug, 'slug': politician.slug}) }}">
                                    <button class="action-button small official__button{{ wipCount == constant('App\\Entity\\WipCount::WIP_COUNT_TYPE_YES') ? ' visually-hidden' }}">
                                        {% trans %}Lobbyieren{% endtrans %}
                                    </button>
                                </a>
                            </div>
                        </section>
                    {% endfor %}
                </div>
                <div class="officials__explanation readable-width">
                    <h2 class="officials__title">{% trans %}Lobby-Status{% endtrans %}</h2>
                    <div class="officials__states">
                        <span class="officials__state against-us">{% trans %}gegen uns{% endtrans %}</span>
                        <span class="officials__state unknown">{% trans %}unbekannt{% endtrans %}</span>
                        <span class="officials__state with-us">{% trans %}mit uns{% endtrans %}</span>
                    </div>
                    <div class="officials__richtext richtext">
                        <p class="lead">
                            {% trans %}Wer hat welche Stimmabstichten? Der Lobby-Status zeigt Ihnen, wem Sie eine Nachricht schicken sollten. Gemeinsam wollen wir PolitikerInnen überzeugen, die noch keine feste Meinung geäussert haben oder die unserem Anliegen kritisch gegenüber stehen. Wer für unser Anliegen eintritt, erhält keine Nachrichten mehr.{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'campaign/Partials/donate.html.twig' %}
{% endblock %}
