{% extends 'base.html.twig' %}

{% set headerClass = 'force-background' %}
{% set hasFAQ = false %}

{% block ogImage %}
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}{% if politician.image | length %}{{ vich_uploader_asset(politician) }}{% else %}/assets/officials/{{ politician.name }} {{ politician.lastname }}.jpg{% endif %}">
{% endblock %}

{% block ogDescription %}
    <meta property=og:description content="{% trans %}Lobbyiere jetzt bei{% endtrans %} {{ politician }} ({{ politician.party.short }}/{{ politician.region.short }})"/>
{% endblock %}

{% block ogUrl %}
    <meta property=og:url content="{{ app.request.uri }}"/>
{% endblock %}

{% block ogTitle %}
    <meta property=og:title content="{{ campaign.name }}"/>
{% endblock %}

{% block body %}
    <section class="act">
        <div class="viewport-width">
            <div class="page-width">
                <div class="layout-width">
                    <div class="act__richtext act__center-col center-text richtext">
                        <h1>{% trans %}Wählen Sie eine Nachricht{% endtrans %}</h1>
                        <img src="{% if politician.image | length %}{{ vich_uploader_asset(politician) }}{% else %}/assets/officials/{{ politician.name }} {{ politician.lastname }}.jpg{% endif %}" />
                        <p>
                            {% trans %}An:{% endtrans %} <strong>{{ politician }}</strong> ({{ politician.party.short }}/{{ politician.region.short }})<br>
                            {% trans %}Betreff:{% endtrans %} {{ campaign }}
                        </p>
                    </div>
                    <form name="person" class="act__form" action="{{ path('app_campaign_lobby', {'campaign': campaign.slug, 'slug': politician.slug}) }}" method="post">
                        <div class="act__select-message">
                            {% for argument in campaign.arguments %}
                                <label for="argument-{{ loop.index }}">
                                    <input type="radio" name="argument" id="argument-{{ loop.index }}" value="{{ argument.id }}" style="visibility: hidden;" />
                                    <blockquote class="act__message" onclick="app.act.selectMessage()">
                                        {% trans %}«{% endtrans %}{{ argument }}{% trans %}»{% endtrans %}
                                    </blockquote>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="act__custom-message act__center-col"><a class="act__custom-message--toggler" href="#" onclick="app.act.addCustomMessage(); return false;">{% trans %}Eigene Nachricht erfassen{% endtrans %}</a>
                            <div class="mdc-text-field mdc-text-field--textarea act__input act__textarea {% if customArgument %}act__textarea--visible{% endif %}">
                                <div class="mdc-text-field-character-counter"></div>
                                <textarea class="mdc-text-field__input" name="custom-argument" id="custom-argument" type="textarea" maxlength="100">{% if customArgument %}{{ customArgument }}{% endif %}</textarea>
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label" for="custom-argument">{% trans %}Meine Nachricht{% endtrans %}</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                        </div>
                        <div class="act__center-col center-text richtext">
                            <h2>{% trans %}Absender{% endtrans %}</h2>
                            <div class="mdc-text-field mdc-text-field--outlined act__input">
                                <input class="mdc-text-field__input" id="tf-outlined" name="person[firstname]"{% if person and person.firstname %} value="{{ person.firstname }}"{% endif %} type="text" required pattern="^[^@]+$">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label" for="tf-outlined">{% trans %}Vorname*{% endtrans %}</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>

                            </div>
                            <div class="mdc-text-field mdc-text-field--outlined act__input">
                                <input class="mdc-text-field__input" id="tf-outlined" name="person[lastname]"{% if person and person.lastname %} value="{{ person.lastname }}"{% endif %} type="text" required pattern="^[^@]+$">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label" for="tf-outlined">{% trans %}Nachname*{% endtrans %}</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field mdc-text-field--outlined act__input">
                                <input class="mdc-text-field__input" id="tf-outlined" name="person[email]"{% if person and person.email %} value="{{ person.email }}"{% endif %} type="email" required>
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label" for="tf-outlined">{% trans %}E-Mail*{% endtrans %}</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field mdc-text-field--outlined act__input">
                                <input class="mdc-text-field__input" id="tf-outlined" name="person[city]"{% if person and person.city %} value="{{ person.city }}"{% endif %} type="text" required pattern="^[^@]+$">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label" for="tf-outlined">{% trans %}Ort*{% endtrans %}</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-form-field act__input act__checkbox">
                                <div class="mdc-checkbox">
                                    <input class="mdc-checkbox__native-control" id="checkbox-1" type="checkbox" value="1" name="optInInformation">
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="checkbox-1">{% trans %}Ich möchte informiert bleiben lorem ipsum dolor{% endtrans %}</label>
                            </div>
                            <input type="hidden" name="color" id="card-color">
                            <input type="hidden" name="token" value="{{ csrf_token('person') }}" />
                            <button class="action-button medium act__button" type="submit">{% trans %}Abschicken{% endtrans %}</button>
                        </div>
                    </form>
                    <div class="act__legal act__center-col richtext">
                        <p>
                            {% trans %}
                                Mit Ihrer Eingabe akzeptieren Sie unsere <a onclick="utils.scrollTo(&quot;#terms-of-use&quot;, { offset: document.querySelector(&quot;.header&quot;).offsetHeight * -1 })">Nutzungsbedingungen</a>
                                sowie die <a onclick="utils.scrollTo(&quot;#privacy&quot;, { offset: document.querySelector(&quot;.header&quot;).offsetHeight * -1 })">Datenschutzbestimmungen</a>.
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
