{% extends 'base.html.twig' %}

{% block title %}{{ campaign }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="statements-wrapper">
                    {% if campaignEntry %}
                        <div class="colored-entry" style="background-color: {{ campaignEntry.color }};">
                            <div class="meta">
                                <p>Von: {{ campaignEntry.person }}</p>
                                <p>An: {{ campaignEntry.politician }} ({{ campaignEntry.politician.party.short }}/{{ campaignEntry.politician.region.short }})</p>
                                <p>Betreff: {{ campaignEntry.campaign }}</p>
                            </div>
                            <p class="argument">
                                {{ campaignEntry.argument }}
                            </p>
                        </div>
                    {% endif %}
                    {% for entry in campaign.campaignEntries %}
                        {% if not campaignEntry or campaignEntry.id != entry.id %}
                            <div class="colored-entry" style="background-color: {{ entry.color }};">
                                <div class="meta">
                                    <p>Von: {{ entry.person }}</p>
                                    <p>An: {{ entry.politician }} ({{ entry.politician.party.short }}/{{ entry.politician.region.short }})</p>
                                    <p>Betreff: {{ entry.campaign }}</p>
                                </div>
                                <p class="argument">
                                    {{ entry.argument }}
                                </p>
                            </div>
                        {% endif %}
                        {% if loop.index == 6 %}
                            <div>
                                <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/crowdlobbying-digitaler-pass" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
                            </div>
                        {% endif %}
                    {% else %}
                        <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/crowdlobbying-digitaler-pass" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <a id="help-button" class="btn btn-primary" href="{{ path('app_campaign_index', {'campaign': campaign.slug}) }}">Mithelfen</a>
{% endblock %}

{% block stylesheets %}
    <style>
        #statements-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            grid-gap: 20px;
            margin: 20px 0;
        }
        
        .colored-entry {
            padding: 15px;
            color: #ffffff;
        }
        
        #help-button {
            position: fixed;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
{% endblock %}

{% block javascripts %}
{% endblock %}
