{% extends 'base.html.twig' %}

{% set sectionColor = '' %}

{% block body %}
    <section class="messages-grid">
        <div class="viewport-width">
            <div class="page-width mobile-fullwidth">
                <div class="layout-width mobile-fullwidth">
                    <div class="messages-grid__cards">
                        {% if campaignEntry %}
                            <div class="messages-grid__slide">
                                <blockquote class="card pink" style="background-color: {{ campaignEntry|color }};">
                                    <header class="card__header">
                                        <cite class="card__meta">
                                            <span class="card__meta-line">{% trans %}An:{% endtrans %} <strong>{{ campaignEntry.politician }}</strong> ({{ campaignEntry.politician.party.short }}/{{ campaignEntry.politician.region.short }})</span>
                                            <span class="card__meta-line">{% trans %}Von:{% endtrans %} {{ campaignEntry.person }}, {{ campaignEntry.person.city }}</span>
                                            <span class="card__meta-line">{% trans %}Betreff:{% endtrans %} {{ campaignEntry.campaign }}</span>
                                        </cite>
                                    </header>
                                    <p class="card__quote">{% trans %}«{% endtrans %}{{ campaignEntry.argument }}{% trans %}»{% endtrans %}</p>
                                </blockquote>
                            </div>
                        {% endif %}
                        {% for entry in entries %}
                            {% if not campaignEntry or campaignEntry.id != entry.id %}
                                {% if entry.confirmed %}
                                    <div class="messages-grid__slide">
                                        <blockquote class="card pink" style="background-color: {{ entry|color }};">
                                            <header class="card__header"><cite class="card__meta">
                                                    <span class="card__meta-line">{% trans %}An:{% endtrans %} <strong>{{ entry.politician }}</strong> ({{ entry.politician.party.short }}/{{ entry.politician.region.short }})</span>
                                                    <span class="card__meta-line">{% trans %}Von:{% endtrans %} {{ entry.person }}, {{ entry.person.city }}</span>
                                                    <span class="card__meta-line">{% trans %}Betreff:{% endtrans %} {{ entry.campaign }}</span>
                                                </cite>
                                            </header>
                                            <p class="card__quote">
                                                {% if entry.argument %}
                                                    {% trans %}«{% endtrans %}{{ entry.argument }}{% trans %}»{% endtrans %}
                                                {% endif %}
                                                {% if entry.personArgument %}
                                                    {% trans %}«{% endtrans %}{{ entry.personArgument }}{% trans %}»{% endtrans %}
                                                {% endif %}
                                            </p>
                                        </blockquote>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if loop.index == 3 %}
                                <div class="messages-grid__slide donate-a">
                                    <section class="messages-grid__donate richtext center-text">
                                        <h1>{% trans %}Spenden{% endtrans %}</h1>
                                        <p>{% trans %}Mit Ihrer Spende bringen wir diese Kampagne weiter.{% endtrans %}</p>
                                        <a href="{{ path('app_campaign_index', {'campaign': campaign.slug}) }}#donate">
                                            <button class="action-button">{% trans %}Jetzt spenden{% endtrans %}</button>
                                        </a>
                                    </section>
                                </div>
                            {% elseif loop.index == 4 %}
                                <div class="messages-grid__slide donate-b">
                                    <section class="messages-grid__donate richtext center-text">
                                        <h1>{% trans %}Spenden{% endtrans %}</h1>
                                        <p>{% trans %}Mit Ihrer Spende bringen wir diese Kampagne weiter.{% endtrans %}</p>
                                        <a href="{{ path('app_campaign_index', {'campaign': campaign.slug}) }}#donate">
                                            <button class="action-button">{% trans %}Jetzt spenden{% endtrans %}</button>
                                        </a>
                                    </section>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="messages-grid__slide donate-a">
                                <section class="messages-grid__donate richtext center-text">
                                    <h1>{% trans %}Spenden{% endtrans %}</h1>
                                    <p>{% trans %}Mit Ihrer Spende bringen wir diese Kampagne weiter.{% endtrans %}</p>
                                    <a href="{{ path('app_campaign_index', {'campaign': campaign.slug}) }}#donate">
                                        <button class="action-button">{% trans %}Jetzt spenden{% endtrans %}</button>
                                    </a>
                                </section>
                            </div>
                            <div class="messages-grid__slide donate-b">
                                <section class="messages-grid__donate richtext center-text">
                                    <h1>{% trans %}Spenden{% endtrans %}</h1>
                                    <p>{% trans %}Mit Ihrer Spende bringen wir diese Kampagne weiter.{% endtrans %}</p>
                                    <a href="{{ path('app_campaign_index', {'campaign': campaign.slug}) }}#donate">
                                        <button class="action-button">{% trans %}Jetzt spenden{% endtrans %}</button>
                                    </a>
                                </section>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="floating-cta">
        <a href="{{ path('app_campaign_index', {'campaign': campaign.slug}) }}#how-it-works">
            <button class="action-button medium {% if campaign.archived %} action-button--disabled {% endif %}">{% trans %}Mitmachen{% endtrans %}</button>
        </a>
    </div>
{% endblock %}
