{% extends 'base.html.twig' %}

{% set headerClass = 'force-background' %}

{% block ogImage %}
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}{% if campaignEntry.politician.image | length %}{{ vich_uploader_asset(campaignEntry.politician) }}{% else %}/assets/officials/{{ campaignEntry.politician.name }} {{ campaignEntry.politician.lastname }}.jpg{% endif %}">
{% endblock %}

{% block ogDescription %}
    <meta property=og:description content="{% trans %}Lobbyiere jetzt bei{% endtrans %} {{ campaignEntry.politician }} ({{ campaignEntry.politician.party.short }}/{{ campaignEntry.politician.region.short }})"/>
{% endblock %}

{% block ogUrl %}
    <meta property=og:url content="{{ app.request.uri }}"/>
{% endblock %}

{% block ogTitle %}
    <meta property=og:title content="{{ campaign.name }}"/>
{% endblock %}

{% block body %}
    <section class="act">
        <div class="viewport-width">
            <div class="page-width">
                <div class="layout-width">
                    <div class="readable-width">
                        <div class="act__richtext richtext center-text">
                            <h1>{% trans %}Herzlichen Dank für Ihre Nachricht{% endtrans %}</h1>
                        </div>
                        <div class="act__my-message">
                            <blockquote class="card blue" style="background-color: {{ campaignEntry|color }};">
                                <header class="card__header">
                                    <cite class="card__meta">
                                        <span class="card__meta-line">{% trans %}An:{% endtrans %} <strong>{{ campaignEntry.politician }}</strong> ({{ campaignEntry.politician.party.short }}/{{ campaignEntry.politician.region.short }})</span>
                                        <span class="card__meta-line">{% trans %}Von:{% endtrans %} {{ campaignEntry.person }}, {{ campaignEntry.person.city }}</span>
                                        <span class="card__meta-line">{% trans %}Betreff:{% endtrans %} {{ campaignEntry.campaign }}</span>
                                    </cite>
                                </header>
                                    <p class="card__quote">
                                        {% if campaignEntry.argument %}
                                            {% trans %}«{% endtrans %}{{ campaignEntry.argument }}{% trans %}»{% endtrans %}
                                        {% endif %}
                                        {% if campaignEntry.personArgument %}
                                            {% trans %}«{% endtrans %}{{ campaignEntry.personArgument }}{% trans %}»{% endtrans %}
                                        {% endif %}
                                    </p>
                            </blockquote>
                        </div>
                        <div class="act__richtext richtext center-text">
                            <p>
                                <a href="{{ path('app_campaign_statements', {'campaign': campaign.slug}) }}">{% trans %}Alle Nachrichten ansehen{% endtrans %}</a><br>
                                <a href="{{ path('app_campaign_index', {'campaign': campaign.slug}) }}">{% trans %}Weitere Person lobbyieren{% endtrans %}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'campaign/Partials/donate.html.twig' %}
{% endblock %}
